<!DOCTYPE HTML>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="public/style1.css">
</head>
<body>
<p><a href="http://localhost:3000/cat">Категории</a>
<p><a href="http://localhost:3000/prod">Товары</a></body>
