<!DOCTYPE HTML>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/public/style1.css">
</head>
<body>
Введите название категории
<form action="http://localhost:3000/cat" method="post">
Название:<input name="nameCat">

<p>
<input type="submit" id="create" value="Добавить категорию">
</form>
</body>
