<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1> USER HAS NOT CREATED! THIS USER ALREADY EXISTS!</h1>
<b>Your ID:</b> <%= id %><br>
<b>Your Login:</b> <%= log %><br>
<b>Your Pass:</b> <%= pwd %><br>
</body>
</html>
